//  Body Background Color
$body-color: #eef4f9 !default;

// Font size
$font-size-mini: 8px !default;
$font-size-small: 10px !default;
$font-size-default: 12px !default;

// Font Weight
$font-weight-lighter: 300 !default;
$font-weight-base: 400 !default;
$font-weight-bolder: 500 !default;

// Typography
$font-family-default: "Helvetica" !default;

// Font Color
$font-color-default: #3b3d3f !default;
